@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url(img/home\ img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(60%);
    padding: 0 5rem;
}

.line {
    position: relative;
    border-bottom: 1px solid #ece0d1;
    z-index: 5;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 15px;
    z-index: 100;
}

.enough {
    width: 180.05px;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 1.5rem;
    color: #ece0d1;
    cursor: pointer;
    display: none;
    z-index: 110;
}

#check {
    display: none;
}

.menu a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ece0d1;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btn-contact a {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: #ece0d1;
    color: #634832;
    padding: 10px 25px;
    transition: 0.3s;
    border-radius: 10px;
    font-weight: 500;
    z-index: 100;
    text-decoration: none;
}

.btn-contact a:hover {
    color: #ece0d1;
    background: #b88f61;
}

.contact h2 {
    font-size: 20px;
    color: #ededed;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 10px;
    font-weight: 300;
}

.contact form {
    width: 700px;
    text-align: center;
}

.forms-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.input-box .input-field {
    width: 100%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #ece0d1;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: center;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    resize: none;
    width: 520px;
    height: 150px;
}

form .textarea-field .error-txt {
    margin-top: -10px;
    text-align: center;
}

form button {
    padding: 12px 32px;
    background: #ece0d1;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #ece0d1;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

form button:hover {
    box-shadow: none;
}

/* -------------------- Responsividade --------------------*/

@media (max-width: 1000px) {
    .navbar {
        justify-content: center;
        padding: 1rem 5%;
        gap: 1rem;
    }

    .enough {
        width: 0;
    }
}

@media (max-width: 900px) {
    .btn-contact {
        display: none;
    }
}


@media (max-width: 802px) {

    .header {
        padding-top: 1rem;
    }

    .icons {
        display: inline-flex;
        z-index: 110;
    }

    .icons #close_icon {
        display: none;
    }

    #check:checked~.icons #menu_icon {
        display: none;
    }

    #check:checked~.icons #close_icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 15rem;
        backdrop-filter: blur(100px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .8);
        border-radius: 0 0 40px 40px;
    }
    
    .navbar a {
        display: block;
        margin: 1rem 0;
        text-align: center;
    }

    .line {
        display: none;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .menu a {
        margin-left: 0;
    }
}

@media (max-width: 602px) {

    body {
        padding: 0 1rem;
    }

    .field .item {
        width: 100%;
    }

    .forms-box {
        gap: 5px;
    }

    form .textarea-field .item {
        resize: none;
        width: 95%;
        height: 150px;
    }
}