body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: url(image/home\ img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(70%);
    text-decoration: none;
    outline: none;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 15px;
    z-index: 100;
    padding-left: 5rem;
    padding-right: 5rem;
}

.enough {
    width: 180.05px;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 1.5rem;
    color: #ece0d1;
    cursor: pointer;
    display: none;
    z-index: 110;
}

#check {
    display: none;
}

.menu a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ece0d1;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btn-contact a {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: #ece0d1;
    color: #634832;
    padding: 10px 25px;
    transition: 0.3s;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.btn-contact a:hover {
    color: #ece0d1;
    background: #b88f61;
}

.line {
    position: relative;
    border-bottom: 1px solid #ece0d1;
    z-index: 1;
}


.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
.produtos-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    color: #ece0d1;
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: #13100e;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ece0d1;
    top: 50%;
    right: -20px;
}
.title{
    color: #ece0d1;
    font-size: 22px;
    font-weight: 600;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 20px;
    color: #ece0d1;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #b88f61;
    color: #ece0d1;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    position: relative;
    width: 400px;
    background-color: #13100e;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: none;
    grid-template-rows: 70px 1fr 70px;
    z-index: 120;
}
body.showCart .cartTab{
    display: inline;
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    text-align: center;
}
.cartTab .btn{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #ece0d1;;
    border: 2px solid #634832;
    border-radius: 10px 10px 0 0;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #ece0d1;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    padding: 5px;
    border-radius: 50%;
    color: #ece0d1;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}

.btn-more {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-more a {
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #13100e;
    background: #ece0d1;
    padding: 5px 25px;
    border-radius: 10px;
}



@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -------------------- Responsividade --------------------*/

@media (max-width: 1000px) {
    .navbar {
        justify-content: center;
        padding: 1rem 5%;
        gap: 1rem;
    }

    .enough {
        width: 0;
    }

    .btn-contact {
        display: none;
    }
}   


@media (max-width: 802px) {

    .header {
        padding-top: 1rem;
    }

    .icons {
        display: inline-flex;
        z-index: 110;
    }

    .icons #close_icon {
        display: none;
    }

    #check:checked~.icons #menu_icon {
        display: none;
    }

    #check:checked~.icons #close_icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 0;
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 15rem;
        backdrop-filter: blur(100px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .8);
        border-radius: 0 0 40px 40px;
    }
    
    .navbar a {
        display: block;
        margin: 1rem 0;
        text-align: center;
    }

    .line {
        display: none;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .menu a {
        margin-left: 0;
    }
}